body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: rgb(206, 206, 206);
}

.title{
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gridContainer{
    display: flex;
    width: 600px;
    height: 600px;
    outline: 2px solid black;
}

.footer{
    text-align: center;
}

.cell{
    text-align: center;
    background: white;
    outline: 1px solid black;
}

#sliderContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    gap: 15px;
    outline: 2px solid black;
}

input[type="color"] {
	width: 135px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

#middle{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 65vw;
    gap:50px;
}

#middle2{
    gap:5px;
}
button.active{
    background-color: blue;
    color: white;
}

button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}

button:hover{
    color:#000000;
    background-color: #FFFFFF;
}
