body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.title{
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gridContainer{
    display: flex;
    width: 700px;
    height: 700px;
    outline: 2px solid black;
}

.footer{
    text-align: center;
}

.cell{
    text-align: center;
    background: white;
    outline: 1px solid black;
}

#sliderContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    gap: 15px;
}

input[type="color"] {
	width: 135px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}